/* Need universal Styling */
*{
    /* background-color: darkolivegreen;
    color: floralwhite; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
    width: 96%;
    margin: 0 auto;
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
    text-align: center;
    align-items: center;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
    
}

header nav ul li {
    
    display: inline-block;
    margin-left: 25px;
}

.card-header {
    position: relative;
    margin-top: -20px;
}

footer {
    text-align: center;
}
/* generic image styling*/
img {
    width: 250px;
    height: 250px;
    border: gray;
    border-width:medium;
    margin: 10px;
    padding: 10px;
}

/* Creating a row for my first 3 applications to sit side by side */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Responsive pages for different viewport */
/* needs to adapt to layout */
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .card-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }